// ===== COLORS =====
$color-primary: #2563eb;
$color-secondary: #e5e7eb;
$color-danger: #ef4444;

// ===== RADIUS =====
$radius-sm: 6px;
$radius-md: 12px;
$radius-full: 50%;

// === BUTTON ===
$btn-bg-primary: $color-primary;
$btn-bg-secondary: $color-secondary;

$btn-radius: $radius-md;
$btn-radius-round: $radius-full;

$btn-padding-sm: 6px 12px;
$btn-padding-md: 10px 16px;

